@charset UTF-8;

canvas{
    border:solid #999999 1px;
}

.pallet{
    background-color:#EEEEEE;
    border:solid #999999 1px;
    width:620px;
    padding:10px;
    font-size:small;
}

#canvasColor{
    background-image: url("../img/pen_back.jpg");
}

.red{
    background-color: #FF0000;
    color: white;
}

.yellow{
    background-color: #FFFF00;
}

.green{
    background-color: #00FF00;
}

.cyan{
    background-color: #00FFFF;
}

.blue{
    background-color: #0000FF;
    color: white;
}

.magenta{
    background-color: #FF00FF;
}

.white{
    background-color: #FFFFFF;
}

.black{
    background-color: #000000;
    color: white;
}

#buttons{
    background-color:#CCCCCC;
    border:solid #999999 1px;
    width:620px;
    padding:10px;
}

.active {
  background-color: red;
  color: white;
}
